.wd-offset {
    background-color: black;
    border-left: 2px solid rgb(47, 51, 54);
    border-right: 2px solid rgb(47, 51, 54);
    margin-left: 32px;
}

.wd-text-blue {
    color: steelblue;
}

.wd-text-darkgray {
    color: darkgray;
}

.wd-spot1 {
    float: right;
    padding-top: 10px;
    padding-right: 30px;
}

.wd-spot2 {
    float: right;
    padding-top: 5px;
    padding-right: 20px;
}

.wd-post-padding {
    padding-top: 12px;
    padding-bottom: 12px;
}

.wd-header-text {
    color: white;
    font-size: 20px;
}

.wd-header-padding {
    padding-left: 16px;
    padding-top: 12px;
}

.wd-user-text {
    color: lightgray;
    font-size: 13px;
}

.wd-user-padding {
    padding-left: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-avatar-img {
    height: 48px;
    width: 48px;
    border-radius: 32px;
    margin-left: 16px;
    margin-top: 12px;
    float: left;
}

.wd-user-name {
    color: white;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 15px;
}

.wd-handle {
    color: lightgray;
    font-size: 15px;
}

.wd-content {
    color: white;
    font-size: 15px;
    padding-left: 76px;
    padding-bottom: 12px;
    padding-top: 12px;
    max-width: 506px;
}

.wd-main-img {
    width: 504px;
    height: 264px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.wd-img-title {
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-left: 12px;
    padding-right: 12px;
}

.wd-img-text {
    color: lightgray;
    font-size: 15px;
    padding: 12px;
}

.wd-img-border {
    border: 1px solid lightgray;
    border-radius: 16px;
    width: 504px;
    margin-left: 76px;
    overflow: auto;
}

.wd-border {
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-icon-padding {
    padding-top: 12px;
    padding-left: 74px;
    max-width: 506px;
}

.wd-icon {
    float: left;
    width: 25%;
}

.wd-img-icon1 {
    width: 20%;
    padding-right: 12px;
}

.wd-img-icon2 {
    width: 15%;
    padding-right: 12px;
}

.wd-padding-between {
    color: lightgray;
    padding-right: 12px;
    vertical-align: top;
}



